<header>
  <nav>
    <ul class="header--nav-menu">
      <li class="header--nav-menu-list"><a routerLink="/account/sign-up">Sign up</a></li>
      <li class="header--nav-menu-list"><a routerLink="/account/login">Login</a></li>
    </ul>
  </nav>
</header>
