.form-block {
    margin: 10vh auto;
    max-width: 110rem;
    height: 80vh;
    background-color: var(--color-white);
    border-radius: 3rem;
    display: flex;
    z-index: 2;

    & > * {
      flex-grow: 1;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

.cta {

  .auth-svg {
    width: 90%;
    height: 100%;
  }
}

.form-control {
    //background-color: black;
    display: flex;
    width: 90%;
    flex-direction: column;

    .mat-form-field {
      width: 30rem;
    }

    .form-control-nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 4rem;

      & > * {
        flex-grow: 0;
        align-self: center;

      }

      &__secondary {
        padding-top: 3rem;
      }
    }
  }
