<div class="form-block">


  <div class="cta" [@slideTopToBottom]>
    <svg class="auth-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="1034"
         height="823.8434" viewBox="0 0 1034 823.8434"><title>free sign up</title>
      <circle cx="775.70345" cy="59.26249" r="33.29324" fill="#51db7c"/>
      <path
        d="M835.17577,117.65471s-4.81562,60.643-10.59435,60.643S892,175.44389,892,175.44389s-30.81992-39.953-15.41-52.795S835.17577,117.65471,835.17577,117.65471Z"
        transform="translate(-83 -38.0783)" fill="#9f616a"/>
      <path
        d="M835.17577,117.65471s-4.81562,60.643-10.59435,60.643S892,175.44389,892,175.44389s-30.81992-39.953-15.41-52.795S835.17577,117.65471,835.17577,117.65471Z"
        transform="translate(-83 -38.0783)" opacity="0.1"/>
      <path
        d="M700.5,814.96491a289.50131,289.50131,0,1,1,204.707-84.793A287.604,287.604,0,0,1,700.5,814.96491Zm0-576c-157.97656,0-286.5,128.52344-286.5,286.5s128.52344,286.5,286.5,286.5S987,683.44147,987,525.46491,858.47656,238.96491,700.5,238.96491Z"
        transform="translate(-83 -38.0783)" fill="#3f3d56"/>
      <path
        d="M921.65272,250.33528,888,259.96491l47.00737-2.14408a41.39094,41.39094,0,0,1,29.02035,9.76445c8.375,7.25,15.125,18.75,8.625,35.75-13,34-33,66-33,66l-13,25s-27,4-28-4,0-12,5-16,8-12,8-16-1-8,2-10,4-5,4-11S935,304.96491,935,304.96491s-36.34728-12.62963-52-2-47.34728,57.37037-47.34728,57.37037a30.091,30.091,0,0,0-5.16716,7.34163,25.94983,25.94983,0,0,1-6.53689,8.12988c-2.90809,2.55551-.22985,9.59459.70405,10.52849,1,1,11,41,11,41s11,19-1,20-23,2-24,0a54.36233,54.36233,0,0,0-4-8c-3-5,0-16,0-16s-29-37-20-60,28-75,28-75l29-12,53-19Z"
        transform="translate(-83 -38.0783)" fill="#51db7c"/>
      <path d="M719.65272,142.33528l-41-8s-10-34-22-30,8,38,8,38l57,26Z" transform="translate(-83 -38.0783)"
            fill="#a0616a"/>
      <path d="M968.65272,176.33528l18,23s26-1,18,13-26,6-27,3-30-29-30-29Z" transform="translate(-83 -38.0783)"
            fill="#a0616a"/>
      <path
        d="M875,145.96491l-26,20-16-24-124-7v41c30.516-8.81131,58.60522-11.54094,81,0,28.3457,37.74438,34.5827,78.73141,16.65271,123.26291L953,247.96491c-43.86261-16.33332-64.2243-40.01193-58-72l51,18,31-23C949.27844,152.31093,908.02161,140.61144,875,145.96491Z"
        transform="translate(-83 -38.0783)" fill="#5050a0"/>
      <ellipse cx="517" cy="784.8434" rx="517" ry="39" fill="#3f3d56"/>
      <ellipse cx="372.5" cy="783.8434" rx="349.5" ry="26" opacity="0.1"/>
      <path
        d="M1018.16176,769.98374c-3.33123,29.19032,14.61428,55.2099,14.61428,55.2099s23.34649-21.30729,26.67772-50.49761-14.61427-55.2099-14.61427-55.2099S1021.493,740.79342,1018.16176,769.98374Z"
        transform="translate(-83 -38.0783)" fill="#51db7c"/>
      <path
        d="M1030.88856,768.47745c12.0073,26.81412,2.77581,57.04389,2.77581,57.04389s-28.69917-13.2445-40.70648-40.05861-2.77582-57.04389-2.77582-57.04389S1018.88125,741.66334,1030.88856,768.47745Z"
        transform="translate(-83 -38.0783)" fill="#5050a0"/>
      <circle cx="625.55865" cy="671.24861" r="112.05567" fill="#f2f2f2"/>
      <path
        d="M708.55865,536.5729l-27.60473,69.01183-99.81872.80048-32.51837.26225-77.169.62112-32.50464.26225-77.169.62112-32.50455.26225-77.16908.63494-32.50455.26225-52.09012.41405L157.4302,589.1047l-13.07088-26.70763-7.21861-14.78228L133,536.5729l24.77526-78.4665a37.827,37.827,0,0,1,36.06559-26.43148h450.7576a37.83544,37.83544,0,0,1,35.6239,25.14787l2.87092,8.08817Z"
        transform="translate(-83 -38.0783)" fill="#5050a0"/>
      <rect x="50" y="498.49613" width="575.55865" height="144.9253" fill="#5050a0"/>
      <rect x="50" y="498.49613" width="575.55865" height="144.9253" opacity="0.1"/>
      <rect x="617.06958" y="299.42754" width="16.97813" height="16.97813" fill="#3f3d56"/>
      <rect x="662.91054" y="662.75955" width="16.97813" height="16.97813" fill="#3f3d56"/>
      <rect x="152.82762" y="311.47255" width="368.52316" height="463.75949" fill="#f2f2f2"/>
      <rect x="230.12087" y="344.59822" width="107.65845" height="15.1826" fill="#3f3d56"/>
      <rect x="173.53117" y="406.70887" width="324.35559" height="6.90118" fill="#e6e6e6"/>
      <rect x="173.53117" y="428.79265" width="324.35559" height="6.90118" fill="#e6e6e6"/>
      <rect x="173.53117" y="450.87644" width="324.35559" height="6.90118" fill="#e6e6e6"/>
      <rect x="173.53117" y="472.96022" width="324.35559" height="6.90118" fill="#e6e6e6"/>
      <rect x="173.53117" y="495.04401" width="324.35559" height="6.90118" fill="#e6e6e6"/>
      <rect x="173.53117" y="517.12779" width="324.35559" height="6.90118" fill="#e6e6e6"/>
      <path
        d="M270.33354,410.28126a23.464,23.464,0,1,1,23.464-23.464A23.49026,23.49026,0,0,1,270.33354,410.28126Zm0-44.16757a20.70355,20.70355,0,1,0,20.70355,20.70354A20.727,20.727,0,0,0,270.33354,366.11369Z"
        transform="translate(-83 -38.0783)" fill="#5050a0"/>
      <polygon
        points="625.559 786.964 50 786.964 50 498.495 124.533 556.465 553.786 553.704 625.559 498.495 625.559 786.964"
        fill="#3f3d56"/>
      <rect x="79.67509" y="720.02257" width="107.65845" height="15.1826" fill="#f2f2f2"/>
      <path
        d="M219.17236,729.59145a12,12,0,1,1,12-12A12.01375,12.01375,0,0,1,219.17236,729.59145Zm0-22a10,10,0,1,0,10,10A10.01114,10.01114,0,0,0,219.17236,707.59145Z"
        transform="translate(-83 -38.0783)" fill="#fff"/>
      <path
        d="M923.65272,389.33528s6,23,8,24,24,20,9,23-26,2-29-1-2-6-7-7-14-4-13-11,6-26,9-28S923.65272,389.33528,923.65272,389.33528Z"
        transform="translate(-83 -38.0783)" fill="#51db7c"/>
      <path
        d="M836.65272,440.33528s9,7,4,20-12,27-12,27-8,25-21,21c-5.28125-1.625-7.92188-6.05567-9.19577-10.7442a25.6964,25.6964,0,0,1,3.63167-20.90966l7.5641-11.34614,8-21Z"
        transform="translate(-83 -38.0783)" fill="#51db7c"/>
      <path
        d="M814.70447,537.15071c17.92578,0,40.1045-5.93848,61.71778-27.40235C929.3324,457.19954,979.599,451.929,980.10047,451.88215L979.914,449.89c-.50879.04785-51.48829,5.39062-104.90186,58.43847-27.44629,27.25879-55.77539,28.92871-74.707,25.52735a93.3633,93.3633,0,0,1-34.999-14.10547l-1.18165,1.61328a95.44532,95.44532,0,0,0,35.74805,14.44629A83.49825,83.49825,0,0,0,814.70447,537.15071Z"
        transform="translate(-83 -38.0783)" fill="#51db7c"/>
      <circle cx="870.15272" cy="443.75698" r="12" fill="#51db7c"/>
      <circle cx="785.15272" cy="499.75698" r="12" fill="#51db7c"/>
      <circle cx="773.00622" cy="78.11577" r="23.99586" fill="#a0616a"/>
      <path
        d="M876.08153,38.0783a18.199,18.199,0,0,1-10.5008,7.2188c-7.343,1.96628-.06,13.00075-.06,13.00075s-2.64837-4.01254,1.17154-8.26192S876.65941,42.88135,876.08153,38.0783Z"
        transform="translate(-83 -38.0783)" fill="#51db7c"/>
      <circle cx="781.21949" cy="22.86656" r="9.27844" fill="#51db7c"/>
      <path
        d="M876.06557,68.72172c-7.56395-2.861-20.15862-4.31161-26.63825-3.32l.88866-6.48892c6.22935,3.21953,18.76622,4.7325,26.63824,3.32Z"
        transform="translate(-83 -38.0783)" fill="#3f3d56"/>
      <path
        d="M859.42931,76.04442s-9.47969,15.76794-31.52318,21.67067-.18006,39.028-.18006,39.028-7.95034-12.04555,3.51694-24.8021S861.16412,90.46307,859.42931,76.04442Z"
        transform="translate(-83 -38.0783)" fill="#51db7c"/>
      <path
        d="M860.18167,75.08626s9.10688,21.658,19.10482,23.70558,9.23961,36.26938-6.39559,41.40109c0,0,11.40091-20.06226,1.65574-33.51712S858.646,82.58471,860.18167,75.08626Z"
        transform="translate(-83 -38.0783)" fill="#51db7c"/>
    </svg>
  </div>

  <form class="form-control" [formGroup]="signUpForm" (ngSubmit)="onSubmit()" [@slideRightToLeft]>

    <mat-form-field>
      <mat-label>Full Name</mat-label>
      <input
        matInput
        type="text"
        required
        formControlName="fullName"
      >

      <mat-error *ngIf="signUpForm.get('fullName').hasError('required')">
        Full Name is <strong>required</strong>
      </mat-error>

      <mat-icon matPrefix>account_box</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        required
        formControlName="email">

      <mat-error *ngIf="signUpForm.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>

      <mat-error *ngIf="signUpForm.get('email').hasError('emailExist')">
        Email <strong>already exists</strong>
      </mat-error>

      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        [errorStateMatcher]="matcher"
      >

      <mat-error *ngIf="signUpForm.get('password').hasError('minlength')">
        Password must have <strong>at least 6 characters</strong>
      </mat-error>
      <mat-error *ngIf="signUpForm.get('password').hasError('required') ">
        Password is <strong>required</strong>
      </mat-error>

      <mat-icon matPrefix>lock</mat-icon>
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        type="button"
      >
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <div class="form-control-nav">
      <a class="btn btn-primary" mat-raised-button type="button" (click)="onSubmit()">Sign up &rarr;</a>

      <div class="form-control-nav__secondary">
        Already have an account?<a class="btn" mat-button type="button" routerLink="/account/login">Login</a>
      </div>
    </div>

  </form>


</div>
