
.header {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-secondary-dark);


  &__background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../../../assets/images/bg-1.svg) no-repeat;

  }

}





