
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$squashy-fe-primary: mat-palette($mat-indigo);
$squashy-fe-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$squashy-fe-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$squashy-fe-theme: mat-light-theme($squashy-fe-primary, $squashy-fe-accent, $squashy-fe-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($squashy-fe-theme);


:root {

  // COLORS
  --color-primary: #51db7c;
  --color-primary-light: #a5eeac;
  --color-primary-dark: #0dbd43;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #a3a3a3;
  --color-grey-dark-3: #a4a4a4;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-secondary-light: #ffb900;
  --color-secondary-dark: #a5eeac;

  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;

  --color-white: #fff;
  --color-black: #000;


  // BOX SHADOW
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);


  // BORDERS
  --line: 1px solid var(--color-grey-light-2);

}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //default to 1 rem
  font-size: 62.5%; // 1 rem -> 10px; 10px/16px -> 62.5%

}

body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  color: var(--color-grey-dark-2);
  line-height: 1.6;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-form-field {
  font-size: 1.8rem;

  .mat-input-element {
    color: slategray;
  }

  .mat-form-field-label {
    color: slategray;
    padding-bottom: 2rem;
  }

  .mat-form-field-underline {
    background-color: slategray;
  }

  .mat-form-field-ripple {
    background-color: slategray;
  }

  .mat-form-field-required-marker {
    color: slategray;
  }
}


.mat-form-field.mat-focused {

  .mat-form-field-label {
    color: var(--color-primary-dark);
  }

  .mat-form-field-ripple {
    background-color: var(--color-primary-dark);
  }

  .mat-form-field-required-marker {
    color: var(--color-primary-dark);
  }

  .mat-input-element {
    color: var(--color-primary-dark);
  }
}

.mat-form-field.mat-form-field-invalid {
  .mat-input-element {
    color: #ef1138;
  }

  .mat-form-field-label {
    color: #ef1138;

    .mat-form-field-required-marker {
      color: #ef1138;
    }
  }

  .mat-form-field-ripple {
    background-color: #ef1138;
  }

}

.mat-form-field > span {
  margin-bottom: -2rem;
}


.mat-form-field .mat-input-element {
  padding-bottom: .8rem;
}

.mat-icon {
  color: #5050a0;
}

.mat-form-field .mat-icon,
.mat-form-field-suffix {
  font-size: 2.5rem;
}

.mat-form-field-prefix {
  padding-right: 1.3rem;
}

.mat-raised-button.btn-primary {
  background-color: var(--color-primary-dark);
  color: white;
  border-radius: 5rem;
  padding: .3rem 4rem;
}


.btn {

  font-size: 1.6rem;
  border-radius: 5rem;

  &-primary {
    color: var(--color-primary-dark)
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
